.button{
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.button--cancel{
    color:white;
    background-color: red;
}

.button--confirm{
    color:black;
    background-color: grey;
}
