.input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 85%;
    padding: 7%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


.input:visited {
    color: #00FF00;
}