.form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__grid{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: 2fr auto;
    }
}

.form__title{
    font-family: 'Bree Serif', serif;
}

.form__container{
    text-align: center;
    border-radius: 5px;
    padding:7%;
    background-color: #f2f2f2;
}


